extends layout

block content
  h2 Welcome to the #{title} site.
  p
    a(href="http://www.clinsoftsolutions.com/app_gallery/7breaths.html") 7 Breaths
    | &nbsp; is a project born out of the NHS Hack Day group. The simple idea was to chalenge the dogma
    | that a full minute of counting is required to obtain a respiratory rate. The hypothesis is that by counting
    | for a fixed number of breaths a respiratory rate can be obtained that has the same sensitivity as counting
    | over one minute.

  p
    | We wanted to create a completly open project to collect, analyse and report the data. The mobile
    | app source is available in the &nbsp;
    a(href="https://github.com/ClinicalSoftwareSolutions/7breaths") Clinical Software Solutions Repository
    | &nbsp; as is the source to &nbsp;
    a(href="https://github.com/ClinicalSoftwareSolutions/7breathsdata") this web app

  p
    | The app is available to download free in the app stores:
    br
    a(target="_blank", href="https://play.google.com/store/apps/details?id=uk.co.clinicalsoftwaresolutions.sevenbreaths")
      img(alt="Get it on Google Play", src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png")
    | &nbsp;
    a(target="_blank", href="https://itunes.apple.com/gb/app/7breaths-respiratory-rate/id663101259?mt=8")
      img(alt="Download from the iTunes App Store", src="/images/DownloadAppStore135x40.png", width="135", height="40")

  div.row
    div.span4
      h3 Registered Users
      img#loading-indicator_users(src="/images/ajax-loader.gif") 
      h4#regusers &nbsp;
    div.span4
      h3 Data points collected
      img#loading-indicator_rr(src="/images/ajax-loader.gif") 
      h4#datapoints &nbsp;

block pagescripts
  script.
    $(document).ready(function(){
      // Get some user stats
      $.ajax({url: '/users/count', type: 'GET', cache: false,
        success: function(data){
          $('#loading-indicator_users').hide();
          $('#regusers').html("Total registered: " + data.count + "<br />iOS: " + data.ios_count + "<br />Android: " + data.android_count);
        },
        error: function(jqXHR, textStatus, err){
          console.log("Error getting the user count");
          $('#loading-indicator_users').hide();
          $('#regusers').html("Error getting count ...");
        }
      });

      // Get the RR stats
      $.ajax({url: '/rr/count', type: 'GET', cache: false,
        success: function(data){
          $('#loading-indicator_rr').hide();
          $('#datapoints').html( data.count );
        },
        error: function(jqXHR, textStatus, err){
          console.log("Error getting the rr count");
          $('#loading-indicator_rr').hide();
          $('#datapoints').html("Error getting count ...");
        }
      });

    });
